[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "constellation"]
	path = constellation
	url = https://github.com/marksendak/constellation
